.popup__input {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 358px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin: 0 36px 0;
  outline: 0;
  outline-offset: 0;
  margin-bottom: 30px;
}

@media screen and (max-width: 425px) {
  .popup__input {
    width: 238px;
    margin: 0 22px 36px;
  }
}
