.popup__input {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 358px;
  height:30px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  margin: 30px 36px 0;
  outline: 0;
  outline-offset: 0;
}
