.popup__save {
  padding: 0;
  border: none;
  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 358px;
  height: 50px;
  background-color: black;
  color: white;
  margin: 0 36px;
  margin-bottom: 37px;
  margin-top: 24px;
  border-radius: 2px;
}

.popup__save:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 540px) {
  .popup__save {
    width: 238px;
    margin: 0 22px;
    margin-top: 14px;
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 18px;
  }
}
