.profile__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media screen and (max-width: 780px) {
  .profile__subtitle {
    max-width: 260px;
  }
}

@media screen and (max-width: 700px) {
  .profile__subtitle {
    max-width: 220px;
  }
}

@media screen and (max-width: 660px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .profile__subtitle {
    text-align: center;
    max-width: 189px;
    margin-left: 32px;
  }
}
