.elements {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  max-width: 880px;
}

@media screen and (max-width: 900px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 740px;
  }
}

@media screen and (max-width: 660px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    max-width: 560px;
  }
}
