.profile__add {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../../../images/add_button.svg);
  width: 150px;
  height: 50px;
  margin-left: auto;
}

.profile__add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 660px) {
  .profile__add {
    margin: auto;
    background-image: url(../../../images/add_button_610.svg);
    width: 282px;
  }
}
