.error {
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  width: 358px;
  min-height: 35px;
  color: #FF0000;
}
