.popup__close {
  position: absolute;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../../../images/Close_Icon.svg);
  width: 32px;
  height: 32px;
  top:-40px;
  right:-40px;
}

.popup__close:hover {
  opacity: 0.7;
}

@media screen and (max-width: 425px) {
  .popup__close {
    background-image: url(../../../images/Close_Icon_mob.svg);
    width: 20px;
    height: 20px;
    top:-40px;
    right:0px;
  }
}
