.popup__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 0;
  margin-top: 34px;
  margin-left: 36px;
}

@media screen and (max-width: 425px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-left: 22px;
    margin-top: 25px;
    margin-bottom: 28px;
  }
}
